* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.logo img {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.input-container {
    position: relative;
    margin-bottom: 20px;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 50px;
    font-size: 14px;
    color: #000;
    text-align: center;
}

input::placeholder {
    color: #ccc;
    text-transform: uppercase;
    font-weight: lighter;
    text-align: left;
    letter-spacing: 5px;
}

.password-container {
    display: flex;
    align-items: center;
}

.toggle-password {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.toggle-password img {
    width: 20px;
    height: 20px;
}

.login-btn {
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 50px;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 10px;
}

.login-btn:hover {
    background-color: #333;
}

.register-text {
    margin-top: 20px;
    font-size: 12px;
}

.register-text a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.register-text a:hover {
    text-decoration: underline;
}
